body {
    margin: 0;
    background: rgb(110, 110, 110);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    opacity: .8;
}


#carCanvas {
    background-color: rgb(81, 81, 81);
}

#networkCanvas {
    background-color: rgb(53, 53, 53);
}